    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano">
            <div class="nano-content">
                <ul>
{#                    <div class="logo"><a href="{{ url_for('home.get_home') }}">#}
{#                        <span> Property &amp; Rent Manager</span></a>#}
{#                    </div>#}

                    <li class="label">Main</li>
                    <li><a class="sidebar-sub-toggle"><i class="ti-dashboard"></i> Dashboard <span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
{#                            <li><a href="{{ url_for('home.get_home') }}"><i class="ti-home"> </i> Home</a></li>#}
{#                            <li><a href="{{ url_for('companies.get_companies') }}"><i class="ti-desktop"> </i> Companies</a></li>#}
                        </ul>
                    </li>

                    <li class="label">Data</li>
                    <li><a class="sidebar-sub-toggle"><i class="ti-briefcase"></i> Admin<span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
{#                            <li><a href="{{ url_for('buildings.add_building') }}">Add Building</a></li>#}
{#                            <li><a href="{{ url_for('buildings.get_buildings') }}">Buildings</a></li>#}
{#                            <li><a href="{{ url_for('maintenance.get_maintenance') }}">Maintenance</a></li>#}
{#                            <li><a href="{{ url_for('reports.get_reports') }}">Reports</a></li>#}
                        </ul>
                    </li>

{#                    <li><a href="{{ url_for('payments.get_payments') }}"><i class="ti-money colour-success"></i> Payments</a></li>#}
{#                    <li><a href="{{ url_for('invoices.get_invoices') }}"><i class="ti-files"></i> Invoices</a></li>#}
{#                    <li><a href="{{ url_for('statements.get_statements') }}"><i class="ti-clipboard"></i> Statements</a></li>#}
                    <li><a><i class="ti-close"></i> Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /# sidebar -->
